

<div class="container">
    <div class="row">
        <div class="col">
            <form asp-controller="Employees" asp-action="Logout" method="post">
                <button class="btn btn-outline-dark" type="submit">Sign Out</button>
            </form>
            <h3>Hola desde index Employees @ViewBag.Nombre</h3>
        </div>
    </div>
</div>
